# File extensions
*.kpf
*.orig
*.pgdump
*.swo
*.swp
*.sublime-project
*.sublime-workspace
*.tmproj
*~
.swm
.DS_Store
.bundle
.idea
.loadpath
.powrc
.project
.rvmrc
.ruby-gemset
.swn
.tags
.tags_sorted_by_file
.solano*
.settings/

# Developer-local config
/config/database.yml
/config/secrets.yml

# Temp files, uploads, etc.
.sass-cache/
nohup.out
rerun.txt
routes.txt
webrat-*.html
/public/assets/

/index/
/nbproject/
/pgdump/

/attachments/*
/log/*.log
/public/do_not_commit
/public/system/
/tmp/*
/tmp/**/*
/upload/
/vendor/bundle

# frontend
node_modules
npm-debug.log*
.eslintcache
js-test-results.xml
app/assets/javascripts/bundles/

geo_ip/*.dat
.rbenv-version
./tags
tags.lock
tags.temp
/coverage/*
cert.pem
