<% provide(:title, "All Users") %>
<div class="jumbotron">
    <% @users.each do |user| %>
    <%= user.email %>
    <%= user.approved %>
    <%= link_to("Edit", edit_user_path(user)) %>
    <% end -%>
</div>