<% provide(:title, "Photos") %>
<div class="jumbotron">
    <div id="links">
        <div class="row no-gutters">
            <% @photos.each do |photo| %>
            <div class="col-xs-6 col-sm-3 kitten-box">
                <%= link_to( image_tag(photo.file.url('thumb'), class: "img-rounded", class: "group1"), image_path(photo.file.url()), :data => {:gallery => 'gallery'}, :title => photo.caption ) %>
            </div>
            <% end -%>
        </div>
    </div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>