<% provide(:title, "Activities") %>
<div class="jumbotron">
  <p><span style="text-decoration: underline;"><strong>Burlington :: Eat</strong></span></p>
  <p><strong>Bamboo</strong> - delish Asian fusion<br />213 Burlington Road<br />Bedford, MA 01730<br /><a href="http://www.bamboogourmet.com/home.aspx" target="_blank">http://www.bamboogourmet.com/home.aspx</a></p>
  <p><strong>Del Frisco&rsquo;s Grille</strong> - all American bar food <br />92 Middlesex Turnpike<br />Burlington, MA 01803<br /><a href="https://delfriscosgrille.com/burlington" target="_blank">https://delfriscosgrille.com/burlington</a></p>
  <p><strong>Bobby&rsquo;s Burger Palace</strong> - Bobby Flay&rsquo;s burger joint get your burger crunchified!<br />75 Middlesex Turnpike<br />Burlington, MA 01803<br /><a href="http://bobbysburgerpalace.com/" target="_blank">http://bobbysburgerpalace.com/</a></p>
  <p><strong>Legal Seafood</strong> - a New England must<br />75 Middlesex Turnpike<br />Burlington, MA 01803<br /><a href="http://www.legalseafoods.com/restaurants/burlington-burlington-mal" target="_blank">http://www.legalseafoods.com/restaurants/burlington-burlington-mal</a>l</p>
  <p><strong>Besito</strong> - Mexican with guacamole made tableside<br />75 Middlesex Turnpike<br />Burlington, MA 01803<br /><a href="http://www.besitomexican.com/BurlingtonMA" target="_blank">http://www.besitomexican.com/BurlingtonMA</a></p>
  <p><strong>Tuscan Kitchen</strong> - rustic Italian&nbsp;farmhouse<br />2400 District Avenue<br />Burlington, MA 01803<br /><a href="http://www.tuscanbrands.com/Kitchen/Burlington/" target="_blank">http://www.tuscanbrands.com/Kitchen/Burlington/</a></p>
  <p><strong>PAUL</strong> - a little French bakery/sandwich shop, too cute!<br />62 Second Avenue<br />Burlington, MA 01803<br /><a href="https://3rdaveburlington.com/shops/paul-bakery">https://3rdaveburlington.com/shops/paul-bakery</a></p>
  <p><strong>Seasons 52</strong> - menu changes every week, all farm to table, locally sourced<br />6 Wayside Road<br />Burlington, MA 01803<br /><a href="http://www.seasons52.com/locations/ma/burlington/burlington/4530" target="_blank">http://www.seasons52.com/locations/ma/burlington/burlington/4530</a></p>
  <p><strong>LaCascia&rsquo;s</strong> - bakery and deli, fantastic subs and cookies <br />326 Cambridge Street<br />Burlington, MA 01803<br /><a href="http://lacascias.com/" target="_blank">http://lacascias.com/</a></p>
  <p><span style="text-decoration: underline;"><strong>Burlington :: Do</strong></span></p>
  <p><strong>King&rsquo;s Bowling</strong><br />52 Second Avenue<br />Burlington, MA 01803<br /><a href="https://kingsbowlamerica.com/burlington/" target="_blank">https://kingsbowlamerica.com/burlington/</a></p>
  <p><strong>Burlington Mall</strong><br />75 Middlesex Turnpike<br />Burlington, MA 01803<br /><a href="http://www.simon.com/mall/burlington-mall" target="_blank">http://www.simon.com/mall/burlington-mall</a></p>
  <p><strong>Lexington Battle Green/Lexington Center</strong><br />1625 Massachusetts Avenue<br />Lexington, MA 02421<br /><a href="http://www.tourlexington.us/historic.html" target="_blank">http://www.tourlexington.us/historic.html</a></p>
  <p><strong>Minuteman National Park</strong><br />174 Liberty Street<br />Concord, MA 01742<br /><a href="https://www.nps.gov/mima/index.htm" target="_blank">https://www.nps.gov/mima/index.htm</a></p>
  <p><strong>Kimball Farm Ice Cream</strong><br />343 Bedford Road<br />Carlisle, MA 01741<br /><a href="http://kimballfarm.com/carlisle/" target="_blank">http://kimballfarm.com/carlisle/</a></p>
  <p><span style="text-decoration: underline;"><strong>Boston :: Eat</strong></span></p>
  <p><strong>Modern Pastry</strong> - best Italian pastries in Boston, don&rsquo;t go to Mike&rsquo;s<br />257 Hanover Street<br />Boston, MA<br /><a href="http://www.modernpastry.com/" target="_blank">http://www.modernpastry.com/</a></p>
  <p><strong>Caffe Paradiso</strong> - amazing martinis and desserts. We used to meet here almost every Friday after work<br />255 Hanover Street<br />Boston, MA<br /><a href="http://www.caffeparadiso.com/" target="_blank">http://www.caffeparadiso.com/</a></p>
  <p><strong>Fillippo</strong> - Old school North End eatery<br />283 Causeway Street<br />Boston, MA<br /><a href="http://www.filipporistorante.com/" target="_blank">http://www.filipporistorante.com/</a></p>
  <p><strong>Fiore</strong> - great food and atmosphere, nice roof deck seating<br />250 Hanover Street<br />Boston, MA<br /><a href="http://www.ristorantefiore.com/" target="_blank">http://www.ristorantefiore.com/</a></p>
  <p><strong>Nico</strong> - hip, modern young, Italian <br />417 Hanover Street<br />Boston, MA<br /><a href="http://www.nicoboston.com/" target="_blank">http://www.nicoboston.com/</a></p>
  <p><span style="text-decoration: underline;"><strong>Boston :: Do</strong></span></p>
  <p><strong>New England Aquarium</strong><br />1 Central Wharf<br />Boston, MA 02110<br /><a href="http://www.neaq.org/index.php" target="_blank">http://www.neaq.org/</a></p>
  <p><strong>Museum of Science</strong><br />1 Science Park<br />Boston, MA 02114<br /><a href="http://www.mos.org" target="_blank">http://www.mos.org</a></p>
  <p><strong>Boston Common</strong> - walking around, street performers<br /><a href="http://www.cityofboston.gov/freedomtrail/bostoncommon.asp" target="_blank">http://www.cityofboston.gov/freedomtrail/bostoncommon.asp</a></p>
  <p><strong>Public Gardens/Swan Boats</strong><br /><a href="http://www.cityofboston.gov/parks/emerald/Public_Garden.asp" target="_blank">http://www.cityofboston.gov/parks/emerald/Public_Garden.asp</a><br /><a href="https://swanboats.com/" target="_blank">https://swanboats.com/</a></p>
  <p><strong>Newbury Street</strong> - for high-end shopping and eating<br /><a href="http://www.newbury-st.com/" target="_blank">http://www.newbury-st.com/</a></p>
  <p><strong>Faneuil Hall</strong> - eating and shopping<br /><a href="http://www.faneuilhallmarketplace.com/" target="_blank">http://www.faneuilhallmarketplace.com/</a></p>
  <p><strong>Museum of Fine Arts</strong><br />465 Huntington Avenue<br />Boston, MA 02115<br /><a href="http://www.mfa.org/" target="_blank">http://www.mfa.org/</a></p>
  <p><strong>Isabella Gardner Museum</strong><br />25 Evans Way<br />Boston, MA 02115<br /><a href="http://www.gardnermuseum.org/home" target="_blank">http://www.gardnermuseum.org/home</a></p>
  <p><strong>Boston Red Sox</strong> -&nbsp;they will be home playing against the Arizona Diamondbacks<br />Fenway Park<br />4 Yawkey Way<br />Boston, MA 02215<br /><a href="https://www.aceticket.com/boston-red-sox-tickets" target="_blank">https://www.aceticket.com/boston-red-sox-tickets</a></p>
</div>
