<% provide(:title, "Event") %>
<div class="center jumbotron">
<p>Join us at <a href="http://www.sainteulalia.org/">St Eulalia's Church</a>, the church Paul grew up in, where we will exchange our vows and officially become husband and wife! Our ceremony will start promptly at 2:00 PM.</p>
</div>