<% provide(:title, "Event") %>
<div class="center jumbotron">
    <div class="photopadding"><%= image_tag("steulalias.jpg", :class => "img-rounded" ) %></div>
    <p>
      <a href="http://www.sainteulalia.org/">Saint Eulalia's Parish</a><br>
        50 Ridge Street<br>
        Winchester, MA<br>
        at 2 o'clock to celebrate our union.<br></p>
        <div class="photopadding"><%= image_tag("cafeescadrille.jpg", :class => "img-rounded" ) %></div>
        <p><a href="http://www.cafeescadrille.com">Cafe Escadrille</a><br>
        26 Cambridge Street<br>
        Burlington, MA<br>
        at 5 o'clock for dinner and dancing<br>
    </p>
</div>
