<% provide(:title, "Lodging") %>
<div class="center jumbotron">
    <p>We have secured a block of hotel rooms at the <a href="http://www.marriott.com/hotels/travel/bosbu-boston-marriott-burlington/">Boston Marriott Burlington</a> hotel at a discounted rate of $129 per night. You can book your rooms by clicking <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Chicarello%20%26%20Shaiken%20Wedding%20Room%20Block%20%5EBOSBU%60coscosa%60129%60USD%60false%604%608/12/16%608/14/16%607/12/16&app=resvlink&stop_mobi=yes">here</a> or by calling the hotel at 781-229-6565 and mention the Chicarello-Shaiken wedding block. You MUST book your hotel room by 7/12/2016.</p>
    <p>Cafe Escadrille will provide free shttle service to and from the hotel. We are encouring our guests to take advantage of the discounted hotel rate and the shuttle service. We want everyone to be able to enjoy themselves responsibly on our wedding night.</p>
</div>

