<% provide(:title, "Parking") %>
<div class="center jumbotron">
    <p><strong>Saint Eulalia’s:</strong>  From the "Enter" sign, pull all the way around behind the church and there is a large lot.<br><br>
      <strong>Café Escadrille:</strong> (Please see our “Transportation” link for information about shuttle service.) If driving yourself, please park on the "Function" side of the restaurant (on the right when facing the building). Complimentary valet parking is available!
    </p>
    <%= image_tag("cafeescadrille-parking.jpg", :class => "img-rounded") %>
</div>
