<% provide(:title, "Registries") %>
<div class="center jumbotron">
Our Story
 
Paul and Katie “met” while both were using the dating website match.com.  Paul was meeting hundreds of girls while Katie was casually talking to some people.  Something about each other intrigued the opposite, so after a month of emailing and texting they decided to meet.  The date was set to meet at T’s Pub on Comm Ave in Boston, February 25, 2013 (their tag line, ironically, is “The Place to Meet”).  They had a drink and talked for hours.  Paul kissed Katie goodnight over the Green Line tracks, and they haven’t been apart since.
 
After finding their first furry baby Seamus, they added a brother cat, Coleman, and love their little family.  (For more about the cats, click here.)
 
Engagement Story
 
Because Paul and Katie are each other’s best friends, keeping secrets is rarely an option, and because they are planners, surprises are hard to pull off too.  So Paul and Katie did the brunt of wedding planning before they were actually engaged!  They even booked the venue two weeks before he popped the question.  This proved fortuitous however, as Paul was then able to propose a year exactly to their wedding date!  So on August 13, 2015 he took Katie to a special dinner at the wedding venue, and snuck the ring to the headwaiter while Katie wasn’t looking.  The waiter hid the ring in a large pile of whipped cream over their baked Alaska dessert.  Katie kept hitting the box with her fork and wondering what in the world would be in the middle of the ice cream, until Paul pulled it out and clarified by proposing!  Now they are going to start an anniversary tradition at Café Escadrille, and can’t wait for many more to come!
</div>