<% provide(:title, "Transportation") %>
<div class="center jumbotron">
    <%= image_tag("shuttle.jpg", :class => "img-rounded") %>
    <p>Café Escadrille provides shuttle service to and from the hotel. The Marriott also supplies a shuttle service but Café Escadrille says that their service is faster and more reliable than the hotel’s.</p>
</div>
