<% provide(:title, "Photos") %>
<div class="jumbotron">
    <%= will_paginate %>
    <div id="links">
        <div class="row">
            <% @photos.each do |photo| %>
            <div class="col-md-8">
                <%= link_to( image_tag(photo.file.url('thumb')), edit_photo_path(photo.id)) %>
                Caption: <%= photo.caption %>
            </div>
            <% end -%>
        </div>
    </div>
    <%= will_paginate %>
</div>