<% provide(:title, "Photos") %>
<div class="jumbotron">
    <%= will_paginate %>
    <div id="links">
        <% @photos.each do |photo| %>
            <div class="photoindex">
                <%= link_to( image_tag(photo.file.url('thumb')), edit_photo_path(photo.id)) %> "<%= photo.caption %>"
            </div>
            <% end -%>
        </div>
    </div>
    <%= will_paginate %>
</div>