/* imported items */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Hanalei);
@import url(https://fonts.googleapis.com/css?family=Spinnaker);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Lateef);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Aclonica);
@import url(https://fonts.googleapis.com/css?family=Suranna);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

/* Contendors */
@import url(https://fonts.googleapis.com/css?family=Mr+De+Haviland);
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush);

/* fonts we are trying out */
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);
@import url(https://fonts.googleapis.com/css?family=Italianno);
@import url(https://fonts.googleapis.com/css?family=Arizonia);
@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Miss+Fajardose);
@import url(https://fonts.googleapis.com/css?family=Lovers+Quarrel);
@import url(https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield);
@import url(https://fonts.googleapis.com/css?family=League+Script);
@import url(https://fonts.googleapis.com/css?family=Ruthie);
@import url(https://fonts.googleapis.com/css?family=Meddon);
@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Allura);
@import url(https://fonts.googleapis.com/css?family=Parisienne);



/* variables */

$gray-medium-light: #eaeaea;

/* universal */

body {
    padding-top: 1px;
    background-color: #C8A2C8;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.navbar {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

  .navbar-nav {
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Spinnaker', sans-serif;
    text-align: center;
    > li {
        float: none;
        display: inline-block;
    }
  }


/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    font-family: 'Alex Brush', sans-serif;
}

h2 {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    font-weight: normal;
    font-family: 'Playfair Display', sans-serif;
}

h3 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    font-family: 'Playfair Display', sans-serif;
}

jumbotron {
    p {
        font-size: 8em;
        line-height: 1.7em;
        font-family: 'Lateef', sans-serif;
    }
    img {
        
    }


}
/* footer */

footer {
  margin-top: 10px;
  margin-bottom: 45px;
  padding-top: 5px;
  border-top: 2px solid $gray;
  left {
      color: $gray-darker;
      float: left;
      font-family: 'Spinnaker', sans-serif;
  }
  center {
      color: $gray-darker;
      text-align: center;
      font-family: 'Spinnaker', sans-serif;;
  }
  right {
      color: $gray-darker;
      font-family: 'Spinnaker', sans-serif;
      float: right;
  }
}