<footer class="footer">
    <left>
      (c)2015 <a href="http://www.linkedin.com/in/paulchicarello">Paul Chicarello</a>
  </left>
  <right>
      Built using <a href="http://rubyonrails.org/">Ruby on Rails</a>
  </right>
</footer>